@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot');
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-roman-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-roman-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-Light';
    src: url('../fonts/HelveticaNeue-Light/HelveticaNeue-Light.eot') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-Light/HelveticaNeue-Light.woff') format('woff'),
        url('../fonts/HelveticaNeue-Light/HelveticaNeue-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}